sudo: required
group: deprecated-2017Q3
language: scala
scala:
- 2.11.8
services:
- docker
before_install:
- "./tools/travis/setup.sh"
install: true
script:
- "./tools/travis/build.sh && ./tools/travis/build_sdk.sh && ./tools/travis/deploy.sh
  && ./tools/travis/test.sh"
before_deploy:
- "./tools/travis/rename_sdk.sh ${TRAVIS_TAG%@*} ${TRAVIS_TAG##*@}"
deploy:
- provider: script
  script: "./tools/travis/publish.sh openwhisk ${TRAVIS_TAG%@*} ${TRAVIS_TAG##*@}"
  on:
    tags: true
    all_branches: true
    condition: "${TRAVIS_TAG%@*} = dockerskeleton"
- provider: releases
  api_key:
    secure: R+7PrIf0bLqcQJ9XRQX1Arnund9p0CRdn4TQbvK2kz0h69y233FS7JVa+U6mEptzUErLa90PrONDfB/iNC1YLn/pIfGsM2l34CTC0OQPgHRuY6uBg48jM7rRAM3nUHseFHF2o9Hh0zXZRI4lj+nYe1LTR0Xsn50AGtPAeIEHItv4ojGzujgeBZsjBjCSLbEGxRjP8XqAgs/PA4QrmcSXlP4fEwidEOp3wqAaTIpHRksu7nv3j8H3IpWG6M3hAYn0LJcLi5pF4jwsq85H/+BGRp0ZbVW7uZtpl/bI5T0DkmPXEI4ywcwb3w8CCFs9WMNwB9zMs5j3MFX2dzzPNLJ5ostuEY6Vwzz0tdaqEoAB7n2kLd0akKX/WJiu7Jh35Ul3tYhLpNIWmO6bjaYY7fEdtXX1WLBVIlJIEd+wfDd3a85sIFTQj1YT9os1iS4B3vc9tpbw5D51qzqSRNtoAfV3tablp5obddhKe8iLeSB41lY4Qm+K41IgwxWKiRiNXDFkOPaa3MgAanGzzouQYrbShw+k7oCg8yJqX1NH4vP1H1CAa8OCAdw4aa06xHUk9kNQfIeOl4n9pBRL5dS4VGccCKulWf6ZRo3ypmP7sJL/vbrAs/lZJNteImrm0MtCPJq/5H5eOrQ5A/Kd1hkK7kquXYsXATgVFkasHqWUH6lKurE=
  overwrite: true
  skip_cleanup: true
  file: "./build/blackbox-${TRAVIS_TAG##*@}.tar.gz"
  on:
    tags: true
    all_branches: true
    condition: "${TRAVIS_TAG%@*} = sdk"
env:
  global:
  - secure: cX3d0aBEOCm88YbkDWV/NjQuncuwTrFe5uozTi2vHzvaOEoLrkjiBfyABf8mY+WFvyd8SQHMR3JcVz4e+HKQ8pNTXA+KwHPbEIgORJzaD6bB6qIQh4xPlwMbFWnEN5wt6XBR+XhVkIG4IjCmUiK2f6RqSXPKB3RsXmkZbzJlckLsGAr4oRSuCMY4mX/GabkyB6aDQBoJvu9+xazY2gHGfCjqedLXcqrIvyfotXrZTaObL7cLg1BbW207ANruvigHt11ZNH71UjvMQNE+Z/zNXJMMwx+xY0dYEjCPVMoB1zr/sc3rt9ZSNWFcuUCf/KT3/QRcpIa5Vlpsu79SSbtkMsPskKKoJEw0LhiG2aCCaXxfLSLsgGjKE+mfEmykwF2Mh3aoH1Lz+sDmNHyxV5wpIuXQyPODRpEpiWcBCEN+mFws8wJjDS6k9DEElwoqOCtGTVvaWYX/UPLDqNeeer2KulGAnIv6IuW0Cn/zK3JmSN7VLU9l2CEFy/dL//GsZNSdA2oczixocpg4RxiewnuO+Vmt29497EFiYUT3IWlko4iZ72WtyVDQpVcEjplBaJRNVWAI6MS7js4Kn7zTWCDmGfTDVR8cAlFhjit7yHvbogY2+ASLs13boLyuNXKTBRh8hVwfLliyHJpFUSpXHKHAeq3JXONeJdlsk1o8oEGdBZs=
  - secure: stay3ItWgIFQNqeu9aDH1j8mZ2j5JDhjux+DPWcEz/RaO/lKvhryCmCK1EQ4nqve0M6R7GzOB1QjZVZvIGWLCdKtBaxoKvcgu0ti7IVPeoHjZznt6xe50kSUPBanCBHfWUBOQvUcHC3p2bB1MCcucLb0Bl+yQTCeyPPgw1kzQa25ckLhUlwCYCSq/HeN0ytFelft7tHo6FsX2MXQo7umhek7AyenOztq0BsDyYLq+1sOd238SXoGPB2KV0ecV5dQ2aW1q6YGramuLJCdGMlxHJI19APDvFCKk4EtCmj34vIoUkqJ/lGFnfrVivw8kCmySJBKKXRktKsaSOeHsU5SiP9yH+Tfyaqj0xLDm28LBUuf5ZKYVBmToaqIDfsQ7UdgKiX6S1ggYW4hdLC4F1S7Nf0rU2L8FIjg8R469sEuv4Hg9F3WEWf4eBISOMZ+Pe79wRDoScHHAO86Q2MHic3jKmtTQDgXOErzuabif/P+gnmg9HIxG28Rvz/mOVt7EIbodF0g/C7ROChROXfRhK8nu1NqHrGIuJAfCuGzHfJXKOd2L+OCNkQsTPwa9rd4VpC4/hDcZOYj7ounKYeZ76TZeFSMydpGPJbq8915T2rk7oQYcZA7KtZJ4eVGGrdvFrrNP2aqiKSEoLyaRA4X34cGj6rd+C1VpRCEfQMToJBWDAQ=
